<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> hello express</title>
    <style>
        body {
            background: lightgreen;
            color: black;
        }

    </style>
</head>

<body>

    {{> header}}
    <p> its the project file </p>
    <p>{{welcome}}</p>
    {{> footer}}
</body>

</html>
